<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Eliminar Volcan</h2>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="idVolcan">ID</label>
                    <input type="number" class="form-control" name = "idVolcan" [(ngModel)]="volcan.idVolcan">
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" name = "nombre" [(ngModel)]="volcan.nombre">
                </div>
                <div class="form-group">
                    <label for="pais">Pais</label>
                    <input type="text" class="form-control" name = "pais" [(ngModel)]="volcan.pais">
                </div>
                <div class="form-group">
                    <label for="actividad">Actividad</label>
                    <input type="text" class="form-control" name = "actividad" [(ngModel)]="volcan.actividad">
                </div>
                <div class="form-group">
                    <label for="altura">Altura</label>
                    <input type="text" class="form-control" name = "altura" [(ngModel)]="volcan.altura">
                </div>
                <button type="button" class="btn btn-outline-success" (click)="eliminar()">Eliminar</button>
            </form>            
        </div>
    </div>
</div>